### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total = purchase_data["SN"].count()

total

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item Name"].unique())

unique_items

179

In [4]:
average_price = purchase_data["Price"].mean()

average_price

3.050987179487176

In [5]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [6]:
summary_df = pd.DataFrame({"Unique Items": unique_items,
                              "Average Price": [average_price]})

summary_df["Average Price"] = summary_df["Average Price"].map("{:.2f}".format)

summary_df

   Unique Items Average Price
0           179          3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_counts = purchase_data["Gender"].value_counts()

gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [8]:
gender_percentages = gender_counts/total*100

gender_percentages

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [9]:
gender_counts_df = pd.DataFrame({"Gender Counts": gender_counts, "Gender Percentages": gender_percentages})

gender_counts_df["Gender Percentages"] = gender_counts_df["Gender Percentages"].map("{:.2f}".format)

gender_counts_df

                       Gender Counts Gender Percentages
Male                             652              83.59
Female                           113              14.49
Other / Non-Disclosed             15               1.92


## Purchasing Analysis (Gender)

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting

Display the summary data frame

In [10]:
purchases = purchase_data["Purchase ID"].count()

purchases

780

In [11]:
purchase_by_gender = purchase_data["SN"].value_counts()

purchase_by_gender.head()

Lisosia93      5
Idastidru52    4
Iral74         4
Zontibe81      3
Iskadarya95    3
Name: SN, dtype: int64

In [12]:
gender_average_price = purchase_data["Price"].mean()

gender_average_price

3.050987179487176

In [13]:
gender_purchase = pd.DataFrame({"Purchases": purchase_by_gender, "Average Price": gender_average_price})

gender_purchase.head()

             Purchases  Average Price
Lisosia93            5       3.050987
Idastidru52          4       3.050987
Iral74               4       3.050987
Zontibe81            3       3.050987
Iskadarya95          3       3.050987

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
file_to_load = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_to_load)

df = pd.DataFrame(purchase_data)

df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [16]:
bins = [10, 20, 30, 40, 50]

age_groups = ["0 to 10", "11 to 20", "21 to 30", "31 to 40", "41 to 50"]

In [17]:
pd.cut(purchase_data["Age"], bins, age_groups).head()

0    (10, 20]
1    (30, 40]
2    (20, 30]
3    (20, 30]
4    (20, 30]
Name: Age, dtype: category
Categories (4, interval[int64]): [(10, 20] < (20, 30] < (30, 40] < (40, 50]]

In [18]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, age_groups)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(10, 20]"
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,"(30, 40]"
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"(20, 30]"
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,"(20, 30]"
4,4,Iskosia90,23,Male,131,Fury,1.44,"(20, 30]"

In [19]:
age_groups = purchase_data["Age Group"].value_counts()

age_groups

(20, 30]    402
(10, 20]    254
(30, 40]     85
(40, 50]      7
Name: Age Group, dtype: int64

In [20]:
total

780

In [21]:
age_group_percentages = age_groups/total*100

age_group_percentages

(20, 30]    51.538462
(10, 20]    32.564103
(30, 40]    10.897436
(40, 50]     0.897436
Name: Age Group, dtype: float64

In [22]:
age_group_df = pd.DataFrame({"Age Group": age_groups, "Age Group Percentages": age_group_percentages})

age_group_df["Age Group Percentages"] = age_group_df["Age Group Percentages"].map("{:.2f}".format)

age_group_df

          Age Group Age Group Percentages
(20, 30]        402                 51.54
(10, 20]        254                 32.56
(30, 40]         85                 10.90
(40, 50]          7                  0.90

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame